@import 'common/variable';
.loginSuccess{
    padding: 135px 10px 160px;
    text-align: center;
    img{
       margin-bottom: 20px; 
    }
    p{
        color: $mgreen;
        &.info{
            width: 14em;
            margin: 0 auto;
            text-align:center;
            margin-bottom: 45px;
        }
        &.btnLine{
        	overflow: hidden;
        	.btn{
        		width: 46%;
        		display: inline-block;
        		&:first-child{
        			float: left;
        		}
        		&:last-child{
        			float: right;
        		}
        	}
        }
    }
}