@import 'common/variable';
.error{
	padding-top: 50px!important;
	padding-bottom: 0!important;
	margin-bottom: -5px;
}

.providerBinding{
    padding-top: 50px;
    .ui-title{
		font-weight: normal;
	}
}

