@import 'common/variable';
.order-msg{
  padding:9px 0 7px;
  background-color:#efb12c;
  text-align:center;
  color:#ffffff;
  font-weight:700;
  font-size:.75em;
  line-height:21px;
}
.order-business{
  padding:12px (50%/1242*100) 10px;
  background-color:#f1f1f1;
  font-weight:700;
  overflow:hidden;
  font-size:1em;
  strong{
	float:left;
	line-height:20px;
  }
  span{
	float:right;
	color:#db281f;
	i{
	  float:left;
	  margin-right:4px;
	  padding:2px;
	  -webkit-border-radius: 2px;
	  -moz-border-radius: 2px;
	  border-radius: 2px;
	  background-color:#db281f;
	  color:#ffffff;
	  font-family: Arial;
	  font-size:.625em;
	  text-align: center;
	}
	em{
	  margin-left:4px;
	  font-size:.75em;
	}
  }
}


.order_commit{
  padding-top:20px;
}

.ui-col2{
	.ui-text{
		width:48%;
		display: inline-block;
	}
	.btn{
		margin-left: 4%;
		width: 47%;
		display: inline-block;
	}	
}

.ui_codeBox{
	display: none;
	position: fixed;
	top: 10px;
	left: 0px;
	z-index: 1010;
	width: 100%;
}

.ui_codeBox_inner{
	padding-top: 15px;
	margin: 10px;
	border: 1px solid $linegray;
	background-color: #ffffff;
	border-radius: 8px;
	li{
		padding: 15px 0;
		margin: 0 15px;
	}
	h2{
		font-size: 1em;
		text-align: center;
		color: $lblue;
		font-weight: normal;
	}
	.uiob_btnLine{
	  display:-webkit-box;
	  display:-moz-box;
		a{
			border-top: 1px solid $linegray;
			width: 50%;
			display: block;
			text-align: center;
			font-size: 1.125em;
			height: 44px;
			line-height: 44px;
			color: $morange;

		  &:first-child{
			border-right:1px solid #ddd
		  }
		}

	}

	.ui-text{
		width: 63%;
		display: inline-block;
	}
	.imgBtn{
		vertical-align: bottom;
		border: 1px solid $linegray;
		border-radius: 4px;
		margin-left: 4%;
		width: 30%;
		padding: 4px 3px;
		display: inline-block;
		img{
			display: block;
			width: 100%;
			height: 34px;
		}	
	}
}

.btn_unneed{
  color:#76a31f;
}

.mask{
    background-color: #000000;
    opacity: 0.6;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 800px;
}
#comments{
  padding-top:5px;
  height:55px;
  line-height:24px;
  font-family:Arial;
}
/*fixnav start*/
#fixnav{
  position:fixed;
  bottom:0;
  border-top:1px solid $linegray;
  width:100%;
  background-color:#ffffff;

  ul{
	display:-webkit-box;
	display:-moz-box;
	width:100%;
	display:box;
  }

  li{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex:1;
	font-size:.75em;
	font-weight:700;
	text-align:center;

	a{
	  display:block;
	  padding:7px 0 5px;
	  color:#ababab;
	}

	span{
	  display:block;
	  margin:0 auto 7px;
	  width:22px;
	  height:17px;
	  background-repeat:no-repeat;
	  -webkit-background-size: cover;
	  background-size: cover;
	  background-position:0 0;
	}

	.active,&:hover{
	  span{
		background-position:0 -18px;
	  }
	  a{
		color:#1153a7;
	  }
	}

  }

  li:nth-child(1){
	span{
	  background-image:url("../../public/img/icon_14.png");
	}
  }

  li:nth-child(2){

	span{
	  background-image:url("../../public/img/icon_17.png");
	}
  }

  li:nth-child(3){
	-webkit-box-flex: 2;
	box-flex:2;
	border-left:2px solid #dddddd;
	background-color:#e77200;
	font-size:1.125em;
	line-height:2;

	a{
		color:#ffffff;
	}
  }
}
/*fixnav end*/